/.Programa.java._trace
/.Receta.java._trace
/.Rutina.java._trace
/.RutinaActiva.java._trace
/.RutinaActivaConEjercicio.java._trace
/.RutinaLeve.java._trace
/.RutinaMediana.java._trace
/.RutinaNula.java._trace
/.Usuario.java._trace
/Programa.java
/Receta.java
/Rutina.java
/RutinaActiva.java
/RutinaActivaConEjercicio.java
/RutinaLeve.java
/RutinaMediana.java
/RutinaNula.java
/Usuario.java
/.Ingrediente.java._trace
/.Condimento.java._trace
/.Comida.java._trace
/.Accessors.java._trace
