/.Comida.java._trace
/.Programa.java._trace
/.Receta.java._trace
/.Rutina.java._trace
/.RutinaActiva.java._trace
/.RutinaActivaConEjercicio.java._trace
/.RutinaLeve.java._trace
/.RutinaMediana.java._trace
/.RutinaNula.java._trace
/.Usuario.java._trace
